<div class="container">
  <button (click)="loadVehicles()" class="btn btn-primary">Загрузить транспорт</button>

  <table *ngIf="vehicles.length > 0" class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles" (click)="loadRoutes(vehicle.id)">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.name }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="routes.length > 0" class="routes">
    <h3>Маршрут</h3>
    <ul>
      <li *ngFor="let point of routes">{{ point }}</li>
    </ul>
  </div>
</div>
